/* Front page */
#sprishop ul.featureditems {list-style-image: url(/images/icons/star.png); margin-left: 20px; line-height: 1.3em;}
#sprishop .categories {display: block; margin: 20px 0 0; padding: 0;}
#sprishop .categories li {display: inline; height: 125px; width: 165px; border: 1px solid #eee; text-align: center; float: left; margin: 0 18px 18px 0; padding: 14px 5px; box-shadow: 5px 5px 10px #aaa;}
#sprishop .categories li a {background-color: white; border: 0; padding-bottom: 0;} /* Reset default link styling */
#sprishop .categories li a:hover {background-color: transparent;} /* Reset default link styling */
#sprishop .categories li:hover {position: relative; top: 2px; left: 2px; background-color: #f7f7f7;}
#sprishop .categories li img, #sprishop .categories li span.blank {margin: auto; margin-bottom: 5px; width: 120px; height: 105px; display: block; border: 0;}
#sprishop .categories li a {color: #009; font-weight: bold; display: block;}
#sprishop .categories li a:hover {text-decoration: none;}

/* Sublists */
#sprishop ul.sublist {margin-left: 0; padding-left: 0;}
#sprishop ul.sublist li {list-style-type: none; border: 1px solid #ccc; background-color: #f1f1f1; width: 230px; margin: 0 1.4em 1.4em 0; float: left; border-bottom-right-radius: 10px;}
#sprishop ul.sublist li a {display: block; padding: 8px}
#sprishop ul.sublist li span img {max-width: 55px; max-height: 70px; margin-right: 10px; border: 0;}

/* Listing page */
#sprishop div.item {overflow: auto; border: 1px solid #d7d7d7; box-shadow: 5px 5px 10px #aaa; margin-bottom: 20px; padding: 20px 30px 20px 25px;}
#sprishop div.item:hover {background-color: #fcfcfc;}
#sprishop div.item h2 {padding: 5px 0; font-size: 1.4em; border-bottom: 0; margin: 0;}
#sprishop div.item h2 a {padding: 5px 0; border: 1px solid white; display: block;}
#sprishop div.item h2 a:hover {border-bottom-color: gray; border-right-color: gray; background-color: #f7f7f7; text-decoration: none;}
#sprishop div.item img.mainimage, #sprishop span.noimage {border: 1px solid #ccc; background-color: white; margin: 5px 0 10px 15px; float: right;}
#sprishop span.noimage {height: 100px;}
#sprishop span.noimage {width: 95px; padding: 13px; font-style: italic; border: 1px dashed #ccc;}
#sprishop span.noimage, #sprishop span.noimage a {color: #bbb;}
#sprishop span.noimage a:hover {text-decoration: none;}
#sprishop ul.types li {font-weight: bold;}
#sprishop div.item p.author {line-height: 1em; font-style: italic; margin: 0 0 2px 0;}
#sprishop div.item p.moreinfo {float: right; margin: 0;}
#sprishop div.item p.moreinfo a {width: 125px; color: black; display: block; text-decoration: none; border: solid 1px #ddd; background-color: #fff; padding: 3px 6px;}
#sprishop div.item p.moreinfo a:hover {border-color: #6100c1; background-color: #f0e1ff;}
#sprishop div.item p.publisher, #sprishop div.item p.price, #sprishop div.item p.stock {color: gray; margin: 2px 0;}
#sprishop div.item p.publisher a, #sprishop div.item p.price a, #sprishop div.item p.stock a {color: gray; border-bottom: 1px solid #eee;}
#sprishop div.item p.publisher a:hover, #sprishop div.item p.price a:hover, #sprishop div.item p.stock a:hover {text-decoration: none;}
#sprishop div.item p.price {font-weight: bold; color: #333;}
#sprishop div.item span.vat {font-weight: normal; color: #bbb;}
#sprishop div.item ul.purchase a {background-color: white;}
#sprishop div.item ul.purchase a img {margin-right: 5px;}
#sprishop #parameters {border-top: 0px solid #f7f7f7; margin: 0 0 25px; padding: 2px 0;}

/* Pagination and order-by box */
#sprishop p.pagination, p.orderby {font-size: 83%;}
#sprishop p.pagination, #sprishop p.orderby {line-height: 1.8em; margin: 2px 0; border-bottom: 0px solid #f7f7f7;}
#sprishop p.pagination strong, #sprishop p.pagination span, #sprishop p.orderby strong {color: #aaa;}
#sprishop p.pagination a, #sprishop p.orderby a {color: #333;}
#sprishop p.pagination a, #sprishop p.pagination strong, #sprishop p.pagination span, #sprishop p.orderby a, #sprishop p.orderby strong {padding: 1px 5px; border: 1px solid #ccc;}
#sprishop p.pagination strong, #sprishop p.orderby strong {border-color: #333;}
#sprishop p.pagination a.first {background-color: #eee;}
#sprishop p.pagination a.selected, #sprishop p.orderby a.selected {background-color: #bbb;}
#sprishop p.pagination a:hover, #sprishop p.orderby a:hover {border-color: #6100c1; background-color: #f0e1ff; text-decoration: none;}

/* Shopping cart */
#sprishop div.item ul.actions {margin-top: 20px; margin-left: 0; float: none;}
#sprishop table p.actions.right {margin-top: 10px; margin-left: 0;}
#sprishop div.item table ul.actions {margin-top: 0;}
#sprishop table.basket {margin-top: 20px; margin-bottom: 20px;}
#sprishop table.basket th {font-weight: normal; font-size: 0.83em; line-height: 1.2em; background-color: #f9f9f9; border-bottom: 2px solid #ccc; padding-bottom: 5px;}
#sprishop table.basket td.item {font-weight: bold;}
#sprishop table.basket.editable td.price {width: 7em;}
#sprishop p.yellowwarning {border: 1px solid #fc9; background-color: #ffc; padding: 5px; margin-top: 15px; margin-bottom: 2px;}

/* Editing */
#sprishop table.sinenomine td, #sprishop .limitfields label {font-size: 0.95em;}
#sprishop table.stocklist a {white-space: nowrap; padding: 3px 6px;}

/* Target (CSS3); see: http://css-tricks.com/automatic-table-of-contents/ */
:target {-webkit-animation: highlight 4s ease; animation: highlight 4s ease; padding-top: 2em;}
@keyframes highlight {
	from {background: #eee;}
	to {background: white;}
}
@-webkit-keyframes highlight {
	from {background: #eee;}
	to {background: white;}
}

/* Mobile adjustments */
@media screen and (max-width: 480px) {
	#sprishop .categories li {height: 135px; width: 145px; margin-right: 10px;}
	#sprishop ul.sublist li {width: 280px;}
}
